/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/assets/sass/style.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  line-height: 1.15; /* 1 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  margin: 0;
  clear: both;
  overflow: visible; /* 2 */
  border-top-width: 1px;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-size: inherit; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-size: inherit; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

:root {
  --xxl: 1536;
}

:root {
  --xl: 1140;
}

:root {
  --lg: 1024;
}

:root {
  --ml: 768;
}

:root {
  --sm: 560;
}

:root {
  --xs: 360;
}

:root {
  --pc: 960;
}

:root {
  --tab: 768;
}

:root {
  --sp: 560;
}

/*
basestyle
*/
body {
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #333;
  font-weight: 400;
  line-height: 1.15;
  font-family: -apple-system, BlinkMacSystemFont, Meiryo, メイリオ, sans-serif;
}
@media (min-resolution: 2dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

address {
  font-style: normal;
}

button {
  touch-action: manipulation;
}

/* header */
.l-header__container {
  padding: 6px 8px;
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  font-size: 11px;
}

@media (min-width: 768px) {
  .l-header__content {
    text-align: center;
  }
}

.l-header__title {
  display: inline-flex;
  align-items: center;
}
.l-header__title .logo {
  width: 35px;
  height: 21px;
}
.l-header__title span {
  margin-left: 8px;
  font-weight: bold;
  font-size: 12px;
}

.l-header__message {
  margin-top: 4px;
}
.l-header__message span {
  font-weight: bold;
  font-size: 12px;
}
.l-header__message .emphasis-1 {
  color: rgb(144, 215, 255);
}
.l-header__message .emphasis-2 {
  color: rgb(241, 122, 133);
}

/* フッター */
.l-footer {
  /*margin-top: 120px;*/
  margin-top: calc(100vh - 610px);
}

.l-footer__update {
  padding: 4px 16px;
  background-color: rgba(255, 252, 213, 0.5);
  color: rgb(49, 76, 133);
  font-weight: bold;
  font-size: 12px;
  text-align: end;
}
.l-footer__update p {
  display: block;
  max-width: 375px;
  margin: auto;
}

.l-footer__info {
  padding: 16px 0px 24px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
}
.l-footer__info p + p {
  margin-top: 2px;
}

.l-main {
  flex: 1;
  margin: 12px auto;
  width: 90%;
}
.l-main_new {
  flex: 1;
  margin: 0px auto;
  width: 100%;
}


.l-main__content {
  position: relative;
}

/*　共通コンテナー */
.c-container {
  position: relative;
  width: 100%;
  max-width: 407px;
  margin: auto;
  padding: 0 16px 40px;
  overflow: hidden;
}

.c-title01 {
  padding: 16px 0px 8px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.c-title-top{
  padding: 16px 0px;
  background: #18580140;
  margin-bottom: 16px;
}

.c-title02 {
  display: flex;
  align-items: center;
  padding-top: 24px;
  font-weight: 700;
  font-size: 16px;
}
.c-title02::before {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background: rgb(241, 122, 133);
  content: "";
}
.c-title02 span {
  font-size: 12px;
}

.c-info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.c-fixed-icon {
  z-index: 2;
  position: absolute;
  right: 0;
  width: 56px;
  opacity: 0;
}

/* ボタン関連 */
.c-nextLink {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.c-nextLink .wpcf7-spinner {
  display: none;
}

.c-nextLinkButton {
  width: 94px;
  height: 48px;
  font-size: 14px;
  text-decoration-line: underline;
}
.c-nextLinkButton input {
  display: flex;
  align-items: center;
  height: 48px;
  text-decoration: underline;
}

.c-nextLinkButton--submit {
  margin-left: auto;
}

.c-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  gap: 8px;
}

.c-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 8px 4px;
  border: 2px solid #707070;
  border-radius: 8px;
  box-shadow: rgb(218, 218, 218) 2px 2px 0;
  color: #333;
}
.c-button.is-active {
  border-color: #ff5966;
  background: #ff5966;
  box-shadow: unset;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .c-button:hover, .c-button:focus-visible {
    border-color: #707070;
    background-color: rgb(255, 237, 241);
    color: #333;
  }
}
.c-button:active {
  border-color: #ff5966;
  background: #ff5966;
  box-shadow: unset;
  color: #fff;
}

.c-check-button {
  text-align: center;
}
.c-check-button.is-active {
  border-color: #ff5966;
  background: #ff5966;
  box-shadow: unset;
  color: #fff;
}

.c-button__img {
  max-width: 90%;
  height: 50px;
}
.c-button__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-button__text {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
}

.c-button--wide {
  grid-column: 1/3;
  flex-direction: row;
  justify-content: center;
  padding: 10px 16px;
  gap: 10px;
}
.c-button--wide .c-button__text {
  min-height: unset;
}

.c-next-button {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 54px;
  margin-left: auto;
  border-radius: 8px;
  background: #ff5966;
  box-shadow: 0px 3px 0px #be5156;
  color: #fff;
}
.c-next-button input {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  inset: 0;
  font-weight: 700;
  font-size: 14px;
}
.c-next-button:hover {
  transform: translateY(3px);
  box-shadow: unset;
}
.c-next-button .arrow {
  display: flex;
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  align-items: center;
  justify-content: flex-end;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  pointer-events: none;
}
.c-next-button .arrow::before {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  transform: rotate(45deg);
  border-top: 2px solid #ff5966;
  border-right: 2px solid #ff5966;
  content: "";
}
.c-next-button.is-disable {
  transform: translateY(3px);
  box-shadow: unset;
  opacity: 0.5;
  pointer-events: none;
}
.c-next-button#step03-next-button.is-disable {
  opacity: 0;
}

.c-submit-button input {
  font-size: 0;
}

.c-submit-button__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
}
.c-submit-button__text span {
  font-size: 16px;
}

.c-step {
  padding-top: 24px;
}

.c-step__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.c-step__title {
  font-weight: 700;
  font-size: 13px;
}

.c-step__no {
  display: flex;
  gap: 4px;
}
.c-step__no li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(218, 218, 218);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.c-step__no li.is-on {
  background: rgb(49, 76, 133);
}

.c-step__text {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}
.c-step__text span {
  font-size: 13px;
}

.c-section + .c-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.c-zip-text {
  position: relative;
}
.c-zip-text::before {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  content: "〒";
  color: rgb(255, 89, 102);
  font-weight: bold;
  font-size: 18px;
  pointer-events: none;
}
.c-zip-text input {
  width: 100%;
  padding: 16px 16px 16px 24px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  outline: none;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .c-zip-text input {
    font-size: 20px;
  }
}

.c-select-box {
  position: relative;
  border: none;
}
.c-select-box::after {
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  top: 50%;
  right: 24px;
  width: 10px;
  height: 5px;
  background: rgb(255, 89, 102);
  content: "";
          clip-path: polygon(0 0, 50% 100%, 100% 0);
  pointer-events: none;
}
.c-select-box select {
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  height: 56px;
  padding: 0px 24px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: none;
  border-image: initial;
  outline: none;
  background-color: transparent;
  color: rgb(112, 112, 112);
  font-size: 14px;
}

.c-select-box02 {
  position: relative;
  border: none;
}
.c-select-box02::after {
  position: absolute;
  top: calc(50% - 2px);
  right: 12px;
  width: 10px;
  height: 5px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0) 50%, rgb(255, 89, 102) 50.5%) left top/50% 100% no-repeat, linear-gradient(to left top, rgba(255, 255, 255, 0) 50%, rgb(255, 89, 102) 50.5%) right top/50% 100% no-repeat;
  content: "";
}
.c-select-box02 select {
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  height: 56px;
  padding: 0px 16px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 16px;
}

.c-text-box {
  width: calc(100% - 4px);
  padding: 16px;
  border: 1px solid rgb(255, 89, 102);
  border-radius: 10px;
  outline: none;
  background: rgb(255, 252, 213);
  color: rgb(51, 51, 51);
  font-size: 16px;
  line-height: 1.5;
  margin:0 2px;
}
.c-text-box:focus {
  border: 1px solid rgb(88, 146, 200);
  box-shadow: rgb(88, 146, 200) 0px 0px 0px 2px;
}
.c-text-box[aria-invalid=false] {
  border: 1px solid rgb(218, 218, 218);
  background: rgb(255, 255, 255);
}
.c-error-message {
  display: none;
  margin-top: 8px;
  margin-bottom: 4px;
}

.c-error-message__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-error-message__inner::after {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 8px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0) 50%, rgb(216, 50, 55) 50.5%) left top/50% 100% no-repeat, linear-gradient(to left top, rgba(255, 255, 255, 0) 50%, rgb(216, 50, 55) 50.5%) right top/50% 100% no-repeat;
  content: "";
}

.c-error-message__text {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(216, 50, 55);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.p-first__buttonArea {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
}

.p-firstButton {
  display: block;
  max-width: 342px;
  min-height: 84px;
  border: 2px solid #707070;
  border-radius: 100vmax;
  background: #fff;
  box-shadow: rgb(218, 218, 218) 2px 2px 0px;
  color: #333;
}
.p-firstButton.is-active {
  border-color: #ff5966;
  background: #ff5966;
  box-shadow: rgb(218, 218, 218) 0px 0px 0px;
  color: #fff;
}
.p-firstButton.is-active .p-firstButton__container::after {
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .p-firstButton:hover, .p-firstButton:focus-visible {
    border: 2px solid #707070;
    background: rgb(255, 237, 241);
    color: #333;
  }
  .p-firstButton:hover .p-firstButton__container::after, .p-firstButton:focus-visible .p-firstButton__container::after {
    background: #ff5966;
  }
}
.p-firstButton:active {
  border-color: #ff5966;
  background: #ff5966;
  box-shadow: rgb(218, 218, 218) 0px 0px 0px;
  color: #fff;
}
.p-firstButton:active .p-firstButton__container::after {
  background: #fff;
}

.p-firstButton__container {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.p-firstButton__container::after {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  display: block;
  width: 13px;
  height: 15px;
  margin-left: auto;
  background: #ff5966;
  content: "";
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.is-active .p-firstButton__container::after {
  background: #fff;
}

.p-firstButton__icon {
  width: 48px;
  object-fit: contain;
  margin-right: 8px;
}

.p-firstButton__text {
  margin-left: 5px;
  font-weight: 700;
  font-size: 16px;
}

.p-step01__buttonArea {
  display: grid;
  grid-template-areas: "col1 col2" "row row";
  margin-top: 8px;
  gap: 8px;
  gap: 8px;
}



.p-step02__accordion {
  margin-top: 16px;
}

.p-step02__accordionTrigger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 8px;
  background: rgb(245, 244, 242);
  font-weight: 700;
  font-size: 14px;
}
.p-step02__accordionTrigger::after {
  display: flex;
  position: absolute;
  top: calc(50% - 10px);
  right: 9px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  content: "expand_more";
  font-size: 20px;
  font-family: "Material Icons";
}
.p-step02__accordionTrigger.is-open::after {
  transform: rotate(180deg);
}

.p-step02__accordionBodyInner {
  padding-top: 8px;
}

.p-step02__accordionSub {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.p-step02__accordionSubTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 24px;
  color: rgb(49, 76, 133);
  font-weight: 700;
  font-size: 14px;
}
.p-step02__accordionSubTrigger::after {
  content: "expand_more";
  font-size: 20px;
  font-family: "Material Icons";
}
.p-step02__accordionSubTrigger.is-open::after {
  transform: rotate(180deg);
}

.p-step02__accordionSubBodyInner {
  padding-bottom: 16px;
}

.p-step02 .c-nextLink {
  margin-top: 0px;
}

.p-step03__lead {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.p-step03__lead span {
  color: rgb(255, 89, 102);
  font-size: 16px;
}

.p-step04__buttonArea {
  margin-top: 16px;
}

.p-step05__info {
  margin-top: 24px;
}

.p-step05__address {
  position: relative;
  margin-top: 16px;
}

.c-zip-text__notice {
  z-index: 2;
  position: absolute;
  top: -7px;
  right: 1px;
  padding: 2px 8px;
  border-radius: 50px;
  background: rgb(245, 244, 242);
  color: rgb(49, 76, 133);
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.p-step05__accordion {
  width: calc(100% - 32px);
  margin: 8px auto 0px;
}
.p-step05__accordion[open] .arrow::before {
  transform: rotate(315deg);
}
.p-step05__accordion[open] + .p-step05__message {
  display: none;
}

.p-step05__accordionTrigger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(245, 244, 242);
  font-size: 12px;
  cursor: pointer;
}
.p-step05__accordionTrigger .arrow {
  display: flex;
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
.p-step05__accordionTrigger .arrow::before {
  display: block;
  top: calc(50% - 5px);
  width: 8px;
  height: 8px;
  transform: rotateZ(135deg);
  border-top: 2px solid rgb(51, 51, 51);
  border-right: 2px solid rgb(51, 51, 51);
  border-bottom: none;
  border-left: none;
  border-image: initial;
  content: "";
}

.p-step05__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 7px;
}

.p-step05__messageImg {
  width: 80px;
}

.p-step05__messageText {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 237, 241);
  font-size: 12px;
  line-height: 1.5;
}
.p-step05__messageText::before {
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: calc(50% - 4px);
  right: 100%;
  width: 7px;
  height: 8px;
  background-color: rgb(255, 237, 241);
  content: "";
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.p-step05 .c-nextLink {
  margin-top: 60px;
}

.p-step06__info {
  margin-top: 24px;
  padding-bottom: 16px;
}

.p-step05__address {
  position: relative;
  margin-top: 16px;
}

.p-step06__formGroup + .p-step06__formGroup {
  margin-top: 16px;
}
.p-step06__formGroup dt {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}
.p-step06__formGroup dt .icon {
  margin-right: 6px;
  color: rgb(255, 89, 102);
  vertical-align: bottom;
}
.p-step06__formGroup dd {
  margin-top: 4px;
}

.p-step06__name {
  display: flex;
  gap: 8px;
}

.p-step06__birthday {
  display: flex;
  align-items: center;
}
.p-step06__birthday .suffix {
  margin-right: 8px;
  margin-left: 4px;
  font-weight: bold;
  font-size: 12px;
}

.p-step06__birthdayDayMonth {
  flex: 2 1 0%;
}

.p-step06__birthdayYear {
  flex: 3 1 0%;
}

.p-step06 .wpcf7-not-valid-tip {
  display: none;
}
.p-step06 .c-nextLink {
  margin: 60px 0 120px;
}

.p-step07__info {
  margin-top: 24px;
  padding-bottom: 16px;
}

.p-step07__formGroup + .p-step07__formGroup {
  margin-top: 16px;
}
.p-step07__formGroup dt {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}
.p-step07__formGroup dt .icon {
  margin-right: 6px;
  color: rgb(255, 89, 102);
  vertical-align: bottom;
}
.p-step07__formGroup dd {
  margin-top: 4px;
}

.p-step07 .wpcf7-not-valid-tip {
  display: none;
}
.p-step07 .c-nextLink {
  margin: 60px 0 0;
}
.p-step07 .wpcf7-submit {
  font-size: 0;
}

.p-step07__confirmation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.p-step07__confirmation a {
  display: inline-flex;
  align-items: center;
  color: rgb(49, 76, 133);
}

.js-page-body {
  display: none;
  transform: translateX(50px);
  opacity: 0;
}

.js-details-content {
  overflow: hidden;
}

/* display */
.u-hidden {
  display: none;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-flex {
  display: flex;
}

.u-inline-flex {
  display: inline-flex;
}

.u-inline {
  display: inline;
}

.u-grid {
  display: grid;
}

.u-inline-grid {
  display: inline-grid;
}

/* Flex Direction */
.u-flex-row {
  flex-direction: row;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-col-reverse {
  flex-direction: column-reverse;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.u-flex-1 {
  flex: 1 1 0%;
}

.u-flex-auto {
  flex: 1 1 auto;
}

.u-flex-initial {
  flex: 0 1 auto;
}

.u-flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-none {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.u-gap-0 {
  gap: 0px !important;
}

.u-row-gap-0 {
  row-gap: 0px !important;
}

.u-column-gap-0 {
  column-gap: 0px !important;
}

.u-gap-5 {
  gap: 5px !important;
}

.u-row-gap-5 {
  row-gap: 5px !important;
}

.u-column-gap-5 {
  column-gap: 5px !important;
}

.u-gap-10 {
  gap: 10px !important;
}

.u-row-gap-10 {
  row-gap: 10px !important;
}

.u-column-gap-10 {
  column-gap: 10px !important;
}

.u-gap-15 {
  gap: 15px !important;
}

.u-row-gap-15 {
  row-gap: 15px !important;
}

.u-column-gap-15 {
  column-gap: 15px !important;
}

.u-gap-20 {
  gap: 20px !important;
}

.u-row-gap-20 {
  row-gap: 20px !important;
}

.u-column-gap-20 {
  column-gap: 20px !important;
}

.u-gap-25 {
  gap: 25px !important;
}

.u-row-gap-25 {
  row-gap: 25px !important;
}

.u-column-gap-25 {
  column-gap: 25px !important;
}

.u-gap-30 {
  gap: 30px !important;
}

.u-row-gap-30 {
  row-gap: 30px !important;
}

.u-column-gap-30 {
  column-gap: 30px !important;
}

.u-gap-35 {
  gap: 35px !important;
}

.u-row-gap-35 {
  row-gap: 35px !important;
}

.u-column-gap-35 {
  column-gap: 35px !important;
}

.u-gap-40 {
  gap: 40px !important;
}

.u-row-gap-40 {
  row-gap: 40px !important;
}

.u-column-gap-40 {
  column-gap: 40px !important;
}

.u-gap-45 {
  gap: 45px !important;
}

.u-row-gap-45 {
  row-gap: 45px !important;
}

.u-column-gap-45 {
  column-gap: 45px !important;
}

.u-gap-50 {
  gap: 50px !important;
}

.u-row-gap-50 {
  row-gap: 50px !important;
}

.u-column-gap-50 {
  column-gap: 50px !important;
}

.u-gap-55 {
  gap: 55px !important;
}

.u-row-gap-55 {
  row-gap: 55px !important;
}

.u-column-gap-55 {
  column-gap: 55px !important;
}

.u-gap-60 {
  gap: 60px !important;
}

.u-row-gap-60 {
  row-gap: 60px !important;
}

.u-column-gap-60 {
  column-gap: 60px !important;
}

.u-gap-65 {
  gap: 65px !important;
}

.u-row-gap-65 {
  row-gap: 65px !important;
}

.u-column-gap-65 {
  column-gap: 65px !important;
}

.u-gap-70 {
  gap: 70px !important;
}

.u-row-gap-70 {
  row-gap: 70px !important;
}

.u-column-gap-70 {
  column-gap: 70px !important;
}

.u-gap-75 {
  gap: 75px !important;
}

.u-row-gap-75 {
  row-gap: 75px !important;
}

.u-column-gap-75 {
  column-gap: 75px !important;
}

.u-gap-80 {
  gap: 80px !important;
}

.u-row-gap-80 {
  row-gap: 80px !important;
}

.u-column-gap-80 {
  column-gap: 80px !important;
}

.u-gap-85 {
  gap: 85px !important;
}

.u-row-gap-85 {
  row-gap: 85px !important;
}

.u-column-gap-85 {
  column-gap: 85px !important;
}

.u-gap-90 {
  gap: 90px !important;
}

.u-row-gap-90 {
  row-gap: 90px !important;
}

.u-column-gap-90 {
  column-gap: 90px !important;
}

.u-gap-95 {
  gap: 95px !important;
}

.u-row-gap-95 {
  row-gap: 95px !important;
}

.u-column-gap-95 {
  column-gap: 95px !important;
}

.u-gap-100 {
  gap: 100px !important;
}

.u-row-gap-100 {
  row-gap: 100px !important;
}

.u-column-gap-100 {
  column-gap: 100px !important;
}

.u-gap-105 {
  gap: 105px !important;
}

.u-row-gap-105 {
  row-gap: 105px !important;
}

.u-column-gap-105 {
  column-gap: 105px !important;
}

.u-gap-110 {
  gap: 110px !important;
}

.u-row-gap-110 {
  row-gap: 110px !important;
}

.u-column-gap-110 {
  column-gap: 110px !important;
}

.u-gap-115 {
  gap: 115px !important;
}

.u-row-gap-115 {
  row-gap: 115px !important;
}

.u-column-gap-115 {
  column-gap: 115px !important;
}

.u-gap-120 {
  gap: 120px !important;
}

.u-row-gap-120 {
  row-gap: 120px !important;
}

.u-column-gap-120 {
  column-gap: 120px !important;
}

.u-gap-125 {
  gap: 125px !important;
}

.u-row-gap-125 {
  row-gap: 125px !important;
}

.u-column-gap-125 {
  column-gap: 125px !important;
}

.u-gap-130 {
  gap: 130px !important;
}

.u-row-gap-130 {
  row-gap: 130px !important;
}

.u-column-gap-130 {
  column-gap: 130px !important;
}

.u-gap-135 {
  gap: 135px !important;
}

.u-row-gap-135 {
  row-gap: 135px !important;
}

.u-column-gap-135 {
  column-gap: 135px !important;
}

.u-gap-140 {
  gap: 140px !important;
}

.u-row-gap-140 {
  row-gap: 140px !important;
}

.u-column-gap-140 {
  column-gap: 140px !important;
}

.u-gap-145 {
  gap: 145px !important;
}

.u-row-gap-145 {
  row-gap: 145px !important;
}

.u-column-gap-145 {
  column-gap: 145px !important;
}

.u-gap-150 {
  gap: 150px !important;
}

.u-row-gap-150 {
  row-gap: 150px !important;
}

.u-column-gap-150 {
  column-gap: 150px !important;
}

.u-gap-155 {
  gap: 155px !important;
}

.u-row-gap-155 {
  row-gap: 155px !important;
}

.u-column-gap-155 {
  column-gap: 155px !important;
}

.u-gap-160 {
  gap: 160px !important;
}

.u-row-gap-160 {
  row-gap: 160px !important;
}

.u-column-gap-160 {
  column-gap: 160px !important;
}

.u-gap-165 {
  gap: 165px !important;
}

.u-row-gap-165 {
  row-gap: 165px !important;
}

.u-column-gap-165 {
  column-gap: 165px !important;
}

.u-gap-170 {
  gap: 170px !important;
}

.u-row-gap-170 {
  row-gap: 170px !important;
}

.u-column-gap-170 {
  column-gap: 170px !important;
}

.u-gap-175 {
  gap: 175px !important;
}

.u-row-gap-175 {
  row-gap: 175px !important;
}

.u-column-gap-175 {
  column-gap: 175px !important;
}

.u-gap-180 {
  gap: 180px !important;
}

.u-row-gap-180 {
  row-gap: 180px !important;
}

.u-column-gap-180 {
  column-gap: 180px !important;
}

.u-gap-185 {
  gap: 185px !important;
}

.u-row-gap-185 {
  row-gap: 185px !important;
}

.u-column-gap-185 {
  column-gap: 185px !important;
}

.u-gap-190 {
  gap: 190px !important;
}

.u-row-gap-190 {
  row-gap: 190px !important;
}

.u-column-gap-190 {
  column-gap: 190px !important;
}

.u-gap-195 {
  gap: 195px !important;
}

.u-row-gap-195 {
  row-gap: 195px !important;
}

.u-column-gap-195 {
  column-gap: 195px !important;
}

.u-gap-200 {
  gap: 200px !important;
}

.u-row-gap-200 {
  row-gap: 200px !important;
}

.u-column-gap-200 {
  column-gap: 200px !important;
}

/* margin */
.u-m-auto {
  margin: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mt-0 {
  margin-top: 0px;
}

.u-mb-0 {
  margin-bottom: 0px;
}

.u-ml-0 {
  margin-left: 0px;
}

.u-mr-0 {
  margin-right: 0px;
}

.u-m-0 {
  margin: 0px;
}

.u-mt-5 {
  margin-top: 5px;
}

.u-mb-5 {
  margin-bottom: 5px;
}

.u-ml-5 {
  margin-left: 5px;
}

.u-mr-5 {
  margin-right: 5px;
}

.u-m-5 {
  margin: 5px;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-ml-10 {
  margin-left: 10px;
}

.u-mr-10 {
  margin-right: 10px;
}

.u-m-10 {
  margin: 10px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mb-15 {
  margin-bottom: 15px;
}

.u-ml-15 {
  margin-left: 15px;
}

.u-mr-15 {
  margin-right: 15px;
}

.u-m-15 {
  margin: 15px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-ml-20 {
  margin-left: 20px;
}

.u-mr-20 {
  margin-right: 20px;
}

.u-m-20 {
  margin: 20px;
}

.u-mt-25 {
  margin-top: 25px;
}

.u-mb-25 {
  margin-bottom: 25px;
}

.u-ml-25 {
  margin-left: 25px;
}

.u-mr-25 {
  margin-right: 25px;
}

.u-m-25 {
  margin: 25px;
}

.u-mt-30 {
  margin-top: 30px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-ml-30 {
  margin-left: 30px;
}

.u-mr-30 {
  margin-right: 30px;
}

.u-m-30 {
  margin: 30px;
}

.u-mt-35 {
  margin-top: 35px;
}

.u-mb-35 {
  margin-bottom: 35px;
}

.u-ml-35 {
  margin-left: 35px;
}

.u-mr-35 {
  margin-right: 35px;
}

.u-m-35 {
  margin: 35px;
}

.u-mt-40 {
  margin-top: 40px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-ml-40 {
  margin-left: 40px;
}

.u-mr-40 {
  margin-right: 40px;
}

.u-m-40 {
  margin: 40px;
}

.u-mt-45 {
  margin-top: 45px;
}

.u-mb-45 {
  margin-bottom: 45px;
}

.u-ml-45 {
  margin-left: 45px;
}

.u-mr-45 {
  margin-right: 45px;
}

.u-m-45 {
  margin: 45px;
}

.u-mt-50 {
  margin-top: 50px;
}

.u-mb-50 {
  margin-bottom: 50px;
}

.u-ml-50 {
  margin-left: 50px;
}

.u-mr-50 {
  margin-right: 50px;
}

.u-m-50 {
  margin: 50px;
}

.u-mt-55 {
  margin-top: 55px;
}

.u-mb-55 {
  margin-bottom: 55px;
}

.u-ml-55 {
  margin-left: 55px;
}

.u-mr-55 {
  margin-right: 55px;
}

.u-m-55 {
  margin: 55px;
}

.u-mt-60 {
  margin-top: 60px;
}

.u-mb-60 {
  margin-bottom: 60px;
}

.u-ml-60 {
  margin-left: 60px;
}

.u-mr-60 {
  margin-right: 60px;
}

.u-m-60 {
  margin: 60px;
}

.u-mt-65 {
  margin-top: 65px;
}

.u-mb-65 {
  margin-bottom: 65px;
}

.u-ml-65 {
  margin-left: 65px;
}

.u-mr-65 {
  margin-right: 65px;
}

.u-m-65 {
  margin: 65px;
}

.u-mt-70 {
  margin-top: 70px;
}

.u-mb-70 {
  margin-bottom: 70px;
}

.u-ml-70 {
  margin-left: 70px;
}

.u-mr-70 {
  margin-right: 70px;
}

.u-m-70 {
  margin: 70px;
}

.u-mt-75 {
  margin-top: 75px;
}

.u-mb-75 {
  margin-bottom: 75px;
}

.u-ml-75 {
  margin-left: 75px;
}

.u-mr-75 {
  margin-right: 75px;
}

.u-m-75 {
  margin: 75px;
}

.u-mt-80 {
  margin-top: 80px;
}

.u-mb-80 {
  margin-bottom: 80px;
}

.u-ml-80 {
  margin-left: 80px;
}

.u-mr-80 {
  margin-right: 80px;
}

.u-m-80 {
  margin: 80px;
}

.u-mt-85 {
  margin-top: 85px;
}

.u-mb-85 {
  margin-bottom: 85px;
}

.u-ml-85 {
  margin-left: 85px;
}

.u-mr-85 {
  margin-right: 85px;
}

.u-m-85 {
  margin: 85px;
}

.u-mt-90 {
  margin-top: 90px;
}

.u-mb-90 {
  margin-bottom: 90px;
}

.u-ml-90 {
  margin-left: 90px;
}

.u-mr-90 {
  margin-right: 90px;
}

.u-m-90 {
  margin: 90px;
}

.u-mt-95 {
  margin-top: 95px;
}

.u-mb-95 {
  margin-bottom: 95px;
}

.u-ml-95 {
  margin-left: 95px;
}

.u-mr-95 {
  margin-right: 95px;
}

.u-m-95 {
  margin: 95px;
}

.u-mt-100 {
  margin-top: 100px;
}

.u-mb-100 {
  margin-bottom: 100px;
}

.u-ml-100 {
  margin-left: 100px;
}

.u-mr-100 {
  margin-right: 100px;
}

.u-m-100 {
  margin: 100px;
}

.u-mt-105 {
  margin-top: 105px;
}

.u-mb-105 {
  margin-bottom: 105px;
}

.u-ml-105 {
  margin-left: 105px;
}

.u-mr-105 {
  margin-right: 105px;
}

.u-m-105 {
  margin: 105px;
}

.u-mt-110 {
  margin-top: 110px;
}

.u-mb-110 {
  margin-bottom: 110px;
}

.u-ml-110 {
  margin-left: 110px;
}

.u-mr-110 {
  margin-right: 110px;
}

.u-m-110 {
  margin: 110px;
}

.u-mt-115 {
  margin-top: 115px;
}

.u-mb-115 {
  margin-bottom: 115px;
}

.u-ml-115 {
  margin-left: 115px;
}

.u-mr-115 {
  margin-right: 115px;
}

.u-m-115 {
  margin: 115px;
}

.u-mt-120 {
  margin-top: 120px;
}

.u-mb-120 {
  margin-bottom: 120px;
}

.u-ml-120 {
  margin-left: 120px;
}

.u-mr-120 {
  margin-right: 120px;
}

.u-m-120 {
  margin: 120px;
}

.u-mt-125 {
  margin-top: 125px;
}

.u-mb-125 {
  margin-bottom: 125px;
}

.u-ml-125 {
  margin-left: 125px;
}

.u-mr-125 {
  margin-right: 125px;
}

.u-m-125 {
  margin: 125px;
}

.u-mt-130 {
  margin-top: 130px;
}

.u-mb-130 {
  margin-bottom: 130px;
}

.u-ml-130 {
  margin-left: 130px;
}

.u-mr-130 {
  margin-right: 130px;
}

.u-m-130 {
  margin: 130px;
}

.u-mt-135 {
  margin-top: 135px;
}

.u-mb-135 {
  margin-bottom: 135px;
}

.u-ml-135 {
  margin-left: 135px;
}

.u-mr-135 {
  margin-right: 135px;
}

.u-m-135 {
  margin: 135px;
}

.u-mt-140 {
  margin-top: 140px;
}

.u-mb-140 {
  margin-bottom: 140px;
}

.u-ml-140 {
  margin-left: 140px;
}

.u-mr-140 {
  margin-right: 140px;
}

.u-m-140 {
  margin: 140px;
}

.u-mt-145 {
  margin-top: 145px;
}

.u-mb-145 {
  margin-bottom: 145px;
}

.u-ml-145 {
  margin-left: 145px;
}

.u-mr-145 {
  margin-right: 145px;
}

.u-m-145 {
  margin: 145px;
}

.u-mt-150 {
  margin-top: 150px;
}

.u-mb-150 {
  margin-bottom: 150px;
}

.u-ml-150 {
  margin-left: 150px;
}

.u-mr-150 {
  margin-right: 150px;
}

.u-m-150 {
  margin: 150px;
}

.u-mt-155 {
  margin-top: 155px;
}

.u-mb-155 {
  margin-bottom: 155px;
}

.u-ml-155 {
  margin-left: 155px;
}

.u-mr-155 {
  margin-right: 155px;
}

.u-m-155 {
  margin: 155px;
}

.u-mt-160 {
  margin-top: 160px;
}

.u-mb-160 {
  margin-bottom: 160px;
}

.u-ml-160 {
  margin-left: 160px;
}

.u-mr-160 {
  margin-right: 160px;
}

.u-m-160 {
  margin: 160px;
}

.u-mt-165 {
  margin-top: 165px;
}

.u-mb-165 {
  margin-bottom: 165px;
}

.u-ml-165 {
  margin-left: 165px;
}

.u-mr-165 {
  margin-right: 165px;
}

.u-m-165 {
  margin: 165px;
}

.u-mt-170 {
  margin-top: 170px;
}

.u-mb-170 {
  margin-bottom: 170px;
}

.u-ml-170 {
  margin-left: 170px;
}

.u-mr-170 {
  margin-right: 170px;
}

.u-m-170 {
  margin: 170px;
}

.u-mt-175 {
  margin-top: 175px;
}

.u-mb-175 {
  margin-bottom: 175px;
}

.u-ml-175 {
  margin-left: 175px;
}

.u-mr-175 {
  margin-right: 175px;
}

.u-m-175 {
  margin: 175px;
}

.u-mt-180 {
  margin-top: 180px;
}

.u-mb-180 {
  margin-bottom: 180px;
}

.u-ml-180 {
  margin-left: 180px;
}

.u-mr-180 {
  margin-right: 180px;
}

.u-m-180 {
  margin: 180px;
}

.u-mt-185 {
  margin-top: 185px;
}

.u-mb-185 {
  margin-bottom: 185px;
}

.u-ml-185 {
  margin-left: 185px;
}

.u-mr-185 {
  margin-right: 185px;
}

.u-m-185 {
  margin: 185px;
}

.u-mt-190 {
  margin-top: 190px;
}

.u-mb-190 {
  margin-bottom: 190px;
}

.u-ml-190 {
  margin-left: 190px;
}

.u-mr-190 {
  margin-right: 190px;
}

.u-m-190 {
  margin: 190px;
}

.u-mt-195 {
  margin-top: 195px;
}

.u-mb-195 {
  margin-bottom: 195px;
}

.u-ml-195 {
  margin-left: 195px;
}

.u-mr-195 {
  margin-right: 195px;
}

.u-m-195 {
  margin: 195px;
}

.u-mt-200 {
  margin-top: 200px;
}

.u-mb-200 {
  margin-bottom: 200px;
}

.u-ml-200 {
  margin-left: 200px;
}

.u-mr-200 {
  margin-right: 200px;
}

.u-m-200 {
  margin: 200px;
}

/* padding */
.u-pt-0 {
  padding-top: 0px;
}

.u-pb-0 {
  padding-bottom: 0px;
}

.u-pl-0 {
  padding-left: 0px;
}

.u-pr-0 {
  padding-right: 0px;
}

.u-p-0 {
  padding: 0px;
}

.u-pt-5 {
  padding-top: 5px;
}

.u-pb-5 {
  padding-bottom: 5px;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-pr-5 {
  padding-right: 5px;
}

.u-p-5 {
  padding: 5px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pl-10 {
  padding-left: 10px;
}

.u-pr-10 {
  padding-right: 10px;
}

.u-p-10 {
  padding: 10px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pb-15 {
  padding-bottom: 15px;
}

.u-pl-15 {
  padding-left: 15px;
}

.u-pr-15 {
  padding-right: 15px;
}

.u-p-15 {
  padding: 15px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pl-20 {
  padding-left: 20px;
}

.u-pr-20 {
  padding-right: 20px;
}

.u-p-20 {
  padding: 20px;
}

.u-pt-25 {
  padding-top: 25px;
}

.u-pb-25 {
  padding-bottom: 25px;
}

.u-pl-25 {
  padding-left: 25px;
}

.u-pr-25 {
  padding-right: 25px;
}

.u-p-25 {
  padding: 25px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pl-30 {
  padding-left: 30px;
}

.u-pr-30 {
  padding-right: 30px;
}

.u-p-30 {
  padding: 30px;
}

.u-pt-35 {
  padding-top: 35px;
}

.u-pb-35 {
  padding-bottom: 35px;
}

.u-pl-35 {
  padding-left: 35px;
}

.u-pr-35 {
  padding-right: 35px;
}

.u-p-35 {
  padding: 35px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-pb-40 {
  padding-bottom: 40px;
}

.u-pl-40 {
  padding-left: 40px;
}

.u-pr-40 {
  padding-right: 40px;
}

.u-p-40 {
  padding: 40px;
}

.u-pt-45 {
  padding-top: 45px;
}

.u-pb-45 {
  padding-bottom: 45px;
}

.u-pl-45 {
  padding-left: 45px;
}

.u-pr-45 {
  padding-right: 45px;
}

.u-p-45 {
  padding: 45px;
}

.u-pt-50 {
  padding-top: 50px;
}

.u-pb-50 {
  padding-bottom: 50px;
}

.u-pl-50 {
  padding-left: 50px;
}

.u-pr-50 {
  padding-right: 50px;
}

.u-p-50 {
  padding: 50px;
}

.u-pt-55 {
  padding-top: 55px;
}

.u-pb-55 {
  padding-bottom: 55px;
}

.u-pl-55 {
  padding-left: 55px;
}

.u-pr-55 {
  padding-right: 55px;
}

.u-p-55 {
  padding: 55px;
}

.u-pt-60 {
  padding-top: 60px;
}

.u-pb-60 {
  padding-bottom: 60px;
}

.u-pl-60 {
  padding-left: 60px;
}

.u-pr-60 {
  padding-right: 60px;
}

.u-p-60 {
  padding: 60px;
}

.u-pt-65 {
  padding-top: 65px;
}

.u-pb-65 {
  padding-bottom: 65px;
}

.u-pl-65 {
  padding-left: 65px;
}

.u-pr-65 {
  padding-right: 65px;
}

.u-p-65 {
  padding: 65px;
}

.u-pt-70 {
  padding-top: 70px;
}

.u-pb-70 {
  padding-bottom: 70px;
}

.u-pl-70 {
  padding-left: 70px;
}

.u-pr-70 {
  padding-right: 70px;
}

.u-p-70 {
  padding: 70px;
}

.u-pt-75 {
  padding-top: 75px;
}

.u-pb-75 {
  padding-bottom: 75px;
}

.u-pl-75 {
  padding-left: 75px;
}

.u-pr-75 {
  padding-right: 75px;
}

.u-p-75 {
  padding: 75px;
}

.u-pt-80 {
  padding-top: 80px;
}

.u-pb-80 {
  padding-bottom: 80px;
}

.u-pl-80 {
  padding-left: 80px;
}

.u-pr-80 {
  padding-right: 80px;
}

.u-p-80 {
  padding: 80px;
}

.u-pt-85 {
  padding-top: 85px;
}

.u-pb-85 {
  padding-bottom: 85px;
}

.u-pl-85 {
  padding-left: 85px;
}

.u-pr-85 {
  padding-right: 85px;
}

.u-p-85 {
  padding: 85px;
}

.u-pt-90 {
  padding-top: 90px;
}

.u-pb-90 {
  padding-bottom: 90px;
}

.u-pl-90 {
  padding-left: 90px;
}

.u-pr-90 {
  padding-right: 90px;
}

.u-p-90 {
  padding: 90px;
}

.u-pt-95 {
  padding-top: 95px;
}

.u-pb-95 {
  padding-bottom: 95px;
}

.u-pl-95 {
  padding-left: 95px;
}

.u-pr-95 {
  padding-right: 95px;
}

.u-p-95 {
  padding: 95px;
}

.u-pt-100 {
  padding-top: 100px;
}

.u-pb-100 {
  padding-bottom: 100px;
}

.u-pl-100 {
  padding-left: 100px;
}

.u-pr-100 {
  padding-right: 100px;
}

.u-p-100 {
  padding: 100px;
}

.u-pt-105 {
  padding-top: 105px;
}

.u-pb-105 {
  padding-bottom: 105px;
}

.u-pl-105 {
  padding-left: 105px;
}

.u-pr-105 {
  padding-right: 105px;
}

.u-p-105 {
  padding: 105px;
}

.u-pt-110 {
  padding-top: 110px;
}

.u-pb-110 {
  padding-bottom: 110px;
}

.u-pl-110 {
  padding-left: 110px;
}

.u-pr-110 {
  padding-right: 110px;
}

.u-p-110 {
  padding: 110px;
}

.u-pt-115 {
  padding-top: 115px;
}

.u-pb-115 {
  padding-bottom: 115px;
}

.u-pl-115 {
  padding-left: 115px;
}

.u-pr-115 {
  padding-right: 115px;
}

.u-p-115 {
  padding: 115px;
}

.u-pt-120 {
  padding-top: 120px;
}

.u-pb-120 {
  padding-bottom: 120px;
}

.u-pl-120 {
  padding-left: 120px;
}

.u-pr-120 {
  padding-right: 120px;
}

.u-p-120 {
  padding: 120px;
}

.u-pt-125 {
  padding-top: 125px;
}

.u-pb-125 {
  padding-bottom: 125px;
}

.u-pl-125 {
  padding-left: 125px;
}

.u-pr-125 {
  padding-right: 125px;
}

.u-p-125 {
  padding: 125px;
}

.u-pt-130 {
  padding-top: 130px;
}

.u-pb-130 {
  padding-bottom: 130px;
}

.u-pl-130 {
  padding-left: 130px;
}

.u-pr-130 {
  padding-right: 130px;
}

.u-p-130 {
  padding: 130px;
}

.u-pt-135 {
  padding-top: 135px;
}

.u-pb-135 {
  padding-bottom: 135px;
}

.u-pl-135 {
  padding-left: 135px;
}

.u-pr-135 {
  padding-right: 135px;
}

.u-p-135 {
  padding: 135px;
}

.u-pt-140 {
  padding-top: 140px;
}

.u-pb-140 {
  padding-bottom: 140px;
}

.u-pl-140 {
  padding-left: 140px;
}

.u-pr-140 {
  padding-right: 140px;
}

.u-p-140 {
  padding: 140px;
}

.u-pt-145 {
  padding-top: 145px;
}

.u-pb-145 {
  padding-bottom: 145px;
}

.u-pl-145 {
  padding-left: 145px;
}

.u-pr-145 {
  padding-right: 145px;
}

.u-p-145 {
  padding: 145px;
}

.u-pt-150 {
  padding-top: 150px;
}

.u-pb-150 {
  padding-bottom: 150px;
}

.u-pl-150 {
  padding-left: 150px;
}

.u-pr-150 {
  padding-right: 150px;
}

.u-p-150 {
  padding: 150px;
}

.u-pt-155 {
  padding-top: 155px;
}

.u-pb-155 {
  padding-bottom: 155px;
}

.u-pl-155 {
  padding-left: 155px;
}

.u-pr-155 {
  padding-right: 155px;
}

.u-p-155 {
  padding: 155px;
}

.u-pt-160 {
  padding-top: 160px;
}

.u-pb-160 {
  padding-bottom: 160px;
}

.u-pl-160 {
  padding-left: 160px;
}

.u-pr-160 {
  padding-right: 160px;
}

.u-p-160 {
  padding: 160px;
}

.u-pt-165 {
  padding-top: 165px;
}

.u-pb-165 {
  padding-bottom: 165px;
}

.u-pl-165 {
  padding-left: 165px;
}

.u-pr-165 {
  padding-right: 165px;
}

.u-p-165 {
  padding: 165px;
}

.u-pt-170 {
  padding-top: 170px;
}

.u-pb-170 {
  padding-bottom: 170px;
}

.u-pl-170 {
  padding-left: 170px;
}

.u-pr-170 {
  padding-right: 170px;
}

.u-p-170 {
  padding: 170px;
}

.u-pt-175 {
  padding-top: 175px;
}

.u-pb-175 {
  padding-bottom: 175px;
}

.u-pl-175 {
  padding-left: 175px;
}

.u-pr-175 {
  padding-right: 175px;
}

.u-p-175 {
  padding: 175px;
}

.u-pt-180 {
  padding-top: 180px;
}

.u-pb-180 {
  padding-bottom: 180px;
}

.u-pl-180 {
  padding-left: 180px;
}

.u-pr-180 {
  padding-right: 180px;
}

.u-p-180 {
  padding: 180px;
}

.u-pt-185 {
  padding-top: 185px;
}

.u-pb-185 {
  padding-bottom: 185px;
}

.u-pl-185 {
  padding-left: 185px;
}

.u-pr-185 {
  padding-right: 185px;
}

.u-p-185 {
  padding: 185px;
}

.u-pt-190 {
  padding-top: 190px;
}

.u-pb-190 {
  padding-bottom: 190px;
}

.u-pl-190 {
  padding-left: 190px;
}

.u-pr-190 {
  padding-right: 190px;
}

.u-p-190 {
  padding: 190px;
}

.u-pt-195 {
  padding-top: 195px;
}

.u-pb-195 {
  padding-bottom: 195px;
}

.u-pl-195 {
  padding-left: 195px;
}

.u-pr-195 {
  padding-right: 195px;
}

.u-p-195 {
  padding: 195px;
}

.u-pt-200 {
  padding-top: 200px;
}

.u-pb-200 {
  padding-bottom: 200px;
}

.u-pl-200 {
  padding-left: 200px;
}

.u-pr-200 {
  padding-right: 200px;
}

.u-p-200 {
  padding: 200px;
}

/* Text Opacity */
.u-text-opacity-0 {
  text-opacity: 0;
}

.u-text-opacity-5 {
  text-opacity: 0.05;
}

.u-text-opacity-10 {
  text-opacity: 0.1;
}

.u-text-opacity-15 {
  text-opacity: 0.15;
}

.u-text-opacity-20 {
  text-opacity: 0.2;
}

.u-text-opacity-25 {
  text-opacity: 0.25;
}

.u-text-opacity-30 {
  text-opacity: 0.3;
}

.u-text-opacity-35 {
  text-opacity: 0.35;
}

.u-text-opacity-40 {
  text-opacity: 0.4;
}

.u-text-opacity-45 {
  text-opacity: 0.45;
}

.u-text-opacity-50 {
  text-opacity: 0.5;
}

.u-text-opacity-55 {
  text-opacity: 0.55;
}

.u-text-opacity-60 {
  text-opacity: 0.6;
}

.u-text-opacity-65 {
  text-opacity: 0.65;
}

.u-text-opacity-70 {
  text-opacity: 0.7;
}

.u-text-opacity-75 {
  text-opacity: 0.75;
}

.u-text-opacity-80 {
  text-opacity: 0.8;
}

.u-text-opacity-85 {
  text-opacity: 0.85;
}

.u-text-opacity-90 {
  text-opacity: 0.9;
}

.u-text-opacity-95 {
  text-opacity: 0.95;
}

.u-text-opacity-100 {
  text-opacity: 1;
}

/* Font Family */
.u-font-sans {
  font-family: sans-serif;
}

.u-font-serif {
  font-family: serif;
}

.u-text-xs {
  font-size: 75%;
}

.u-text-sm {
  font-size: 87.5%;
}

.u-text-base {
  font-size: 100%;
}

.u-text-lg {
  font-size: 112.5%;
}

.u-text-xl {
  font-size: 125%;
}

/* Font Style */
.u-italic {
  font-style: italic;
}

.u-not-italic {
  font-style: normal;
}

/* Font Weight */
.u-font-thin {
  font-weight: 100;
}

.u-font-extralight {
  font-weight: 200;
}

.u-font-light {
  font-weight: 300;
}

.u-font-normal {
  font-weight: 400;
}

.u-font-medium {
  font-weight: 500;
}

.u-font-semibold {
  font-weight: 600;
}

.u-font-bold {
  font-weight: 700;
}

.u-font-extrabold {
  font-weight: 800;
}

.u-font-black {
  font-weight: 900;
}

/* Text Align */
.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}

/* Text Decoration */
.u-underline {
  text-decoration: underline;
}

.u-line-through {
  text-decoration: line-through;
}

.u-no-underline {
  text-decoration: none;
}

/* Text Transform */
.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-normal-case {
  text-transform: none;
}

/* Vertical Align */
.u-align-baseline {
  vertical-align: baseline;
}

.u-align-top {
  vertical-align: top;
}

.u-align-middle {
  vertical-align: middle;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-text-top {
  vertical-align: text-top;
}

.u-align-text-bottom {
  vertical-align: text-bottom;
}

/* Justify Content */
.u-justify-start {
  justify-content: flex-start;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-around {
  justify-content: space-around;
}

.u-justify-evenly {
  justify-content: space-evenly;
}

/* Justify Items */
.u-justify-items-stretch {
  justify-items: stretch;
}

.u-justify-items-start {
  justify-items: start;
}

.u-justify-items-center {
  justify-items: center;
}

.u-justify-items-end {
  justify-items: end;
}

.u-justify-items-auto {
  justify-items: auto;
}

/* Justify Self */
.u-justify-self-stretch {
  justify-self: stretch;
}

.u-justify-self-start {
  justify-self: start;
}

.u-justify-self-center {
  justify-self: center;
}

.u-justify-self-end {
  justify-self: end;
}

.u-justify-self-auto {
  justify-self: auto;
}

/* Align Content */
.u-align-content-start {
  align-content: flex-start;
}

.u-align-content-center {
  align-content: center;
}

.u-align-content-end {
  align-content: flex-end;
}

.u-align-content-between {
  align-content: space-between;
}

.u-align-content-around {
  align-content: space-around;
}

.u-align-content-evenly {
  align-content: space-evenly;
}

/* Align Items */
.u-align-items-stretch {
  align-items: stretch;
}

.u-align-items-start {
  align-items: flex-start;
}

.u-align-items-center {
  align-items: center;
}

.u-align-items-end {
  align-items: flex-end;
}

.u-align-items-baseline {
  align-items: baseline;
}

/* Align Self */
.u-align-self-auto {
  align-self: auto;
}

.u-align-self-start {
  align-self: flex-start;
}

.u-align-self-center {
  align-self: center;
}

.u-align-self-end {
  align-self: flex-end;
}

.u-align-self-stretch {
  align-self: stretch;
}

.u-align-self-baseline {
  align-self: baseline;
}

@media (min-width: 560px) {
  .u-sp-only {
    display: none;
  }
}

.u-sp-more {
  display: none;
}
@media (min-width: 560px) {
  .u-sp-more {
    display: block;
  }
}

.u-tb-only {
  display: block;
}
@media (min-width: 768px) {
  .u-tb-only {
    display: none;
  }
}

.u-tb-more {
  display: none;
}
@media (min-width: 768px) {
  .u-tb-more {
    display: block;
  }
}

.u-pc-only {
  display: none;
}
@media (min-width: 960px) {
  .u-pc-only {
    display: block;
  }
}

.u-pc-less {
  display: block;
}
@media (min-width: 960px) {
  .u-pc-less {
    display: none;
  }
}
.ad_text{
  text-align: left;
  line-height: 1.75;
  margin: 40px 20px;
}
@media (max-width: 960px) {
span.adtext{
  margin-left: 0;
}
.l-header__content{
  margin: 8px 4px;
}
.c-container{
  padding: 0 0 40px;
}
}

.c-next-button {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 54px;
  margin-left: auto;
  border-radius: 8px;
  background: #ff5966;
  box-shadow: 0px 3px 0px #be5156;
  color: #fff;
  overflow: hidden;
}

.c-next-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
  );
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
      left: -100%;
  }
  20% {
      left: 100%;
  }
  100% {
      left: 100%;
  }
}